body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: orangered;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar button{
    background-color: orangered;
}
.navbar .fa{
    font-size: 30px;;
}
.navbar a {
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
#header {
    font-family: 'Times New Roman', Times, serif;
}

